@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --primary: #9c88ff;
  --secondary: #8c7ae6;

  --light-background: #f5f6fa;
  --download-progress: #4cd137;
  --warning: #e84118;

  --dark-background: #121212;
  --dark-secondary-background: #485460;
  --dark-tertiary-background: #808e9b;

  --scrollbar: #5e5e5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);

  display: grid;
  grid-template-rows: 50px calc(100vh - 50px);
}

.dark body {
  background-color: var(--dark-background);
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

input,
textarea,
button {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

input:focus {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.form-container {
  width: min(100%, 300px);
}

.search-modal {
  width: min(calc(100vw - 30px), 500px);
  height: 400px;
}

.setting-modal {
  width: min(90vw, 600px);
  height: 500px;
}

.profile-modal {
  width: min(calc(100vw - 30px), 600px);
  height: 400px;
}

.logout-modal {
  width: min(calc(100vw - 30px), 400px);
}

.chatbox {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 50px calc(100% - 100px) 50px;
}

.decorate-scrollbar {
  scrollbar-width: none;
}

.decorate-scrollbar:hover {
  scrollbar-width: thin;
}

.decorate-scrollbar::-webkit-scrollbar {
  display: none;
}

.decorate-scrollbar:hover::-webkit-scrollbar {
  display: block;
}

.decorate-scrollbar:hover::-webkit-scrollbar-thumb {
  width: 3px !important;
  height: 3px !important;
  border-radius: 4px;
  background-color: var(--scrollbar);
}

@media screen and (max-width: 600px) {
}
