@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --primary: #9c88ff;
  --secondary: #8c7ae6;

  --light-background: #f5f6fa;
  --download-progress: #4cd137;
  --warning: #e84118;

  --dark-background: #121212;
  --dark-secondary-background: #485460;
  --dark-tertiary-background: #808e9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);

  display: grid;
  grid-template-rows: 50px calc( 100vh - 50px );
}

.dark body {
  background-color: var(--dark-background);
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

input, textarea, button {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

input:focus {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.form-container {
  width: min(100%, 300px);
}

.chatbox {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 50px calc(100% - 100px) 50px;
}

@media screen and (max-width: 600px) {

}